dist
node_modules
.idea
.report
.husky/_/*

.package-lock.json
yarn.lock
.vscode
.DS_Store
*.log
*.tsbuildinfo
coverage
*.tgz
*.zip
*.tar.gz
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.sourcemap
*.map
*.bak
*.tmp
*.swp

